---
layout: layouts/main.njk
title: 会社概要
---

<div class="about">
  <section>
    <h2>会社概要</h2>
    <div class="about-company">
      <img
        src="/img/logo.png"
        alt="ノイマントーキョー株式会社"
        class="about-company-image"
        loading="lazy"
      />
      <table class="about-company-table">
        <tr>
          <th>社名</th>
          <td>
            ノイマントーキョー株式会社
            <br />
            (旧名: 合同会社ノイマン)
          </td>
        </tr>
        <tr>
          <th>本社所在地</th>
          <td>
            〒411-0041
            <br />
            静岡県三島市佐野見晴台2丁目39番地の7
          </td>
        </tr>
        <tr>
          <th>沼津サテライトオフィス</th>
          <td>
            〒410-0836
            <br />
            静岡県沼津市吉田町31の3 アンジュール 201
          </td>
        </tr>
        <tr>
          <th>代表</th>
          <td>馬場 一樹</td>
        </tr>
        <tr>
          <th>設立</th>
          <td>2019年9月</td>
        </tr>
        <tr>
          <th>法人番号</th>
          <td>2080103002041</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h2>代表: 馬場一樹について</h2>
    <div class="about-ceo">
      <img
        src="/img/kbaba1001.jpg"
        class="about-ceo-image"
        alt="馬場一樹"
        loading="lazy"
      />
      <div class="about-ceo-description">
        <p>
          名古屋工業大学工学部情報工学科卒業後、(株)永和システムマネジメントに入社。アジャイルと
          Ruby による受託開発に従事した後、知人と 2
          人で(株)グピポを起業。その後フリーランスを経
          てノイマントーキョー株式会社を設立。長年の受託開発の経験を活かした細かな開発を得意とする。
        </p>
        <p>
          IT 以外にもシェアハウス運営やイラスト制作などの事業も経験があり、
          今後も業種を問わず幅広く活動する予定。
        </p>
        <div class="about-ceo-sns">
          <a
            href="https://www.kbaba1001.com"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/hatena-blog.png"
              alt="はてなブログ"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>

          <a
            href="https://twitter.com/kbaba1001"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/twitter.png"
              alt="twitter"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>
          <a
            href="https://www.instagram.com/kbaba1001"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/instagram.png"
              alt="Instagram"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>公式SNS</h2>
    <div class="about-sns">
      <a
        href="https://blog.neumann.tokyo"
        target="_blank"
        rel="noopener"
        class="about-sns-link"
      >
        <img
          src="/img/sns/hatena-blog.png"
          alt="はてなブログ"
          class="about-sns-image"
          loading="lazy"
        />
        <span>はてなブログ</span>
      </a>
      <a
        href="https://twitter.com/neumannjapan"
        target="_blank"
        rel="noopener"
        class="about-sns-link"
      >
        <img
          src="/img/sns/twitter.png"
          alt="twitter"
          class="about-sns-image"
          loading="lazy"
        />
        <span>Twitter</span>
      </a>
    </div>
  </section>

  <section>
    <h2>トップページのイラストについて</h2>
    <div class="about-top-illustration">
      <img
        src="/img/mainvisual.png"
        class="about-top-illustration-image"
        alt="少女を導くLisp Monster"
        loading="lazy"
      />
      <div class="about-top-illustration-description">
        <h3>少女を導くLisp Monster</h3>
        <p>スマホを持った少女をLispの世界に導くLisp Monster の絵です。</p>
        <p>
          この絵は弊社メンバーが描きました。Lisp Monster の使用許可は『Land of
          Lisp』の筆者である Conrad Barski 様に頂いております。
        </p>
      </div>
    </div>
  </section>
</div>
