---
layout: layouts/top.njk
title: TOP
permalink: |-
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
  <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js" crossorigin="anonymous" defer></script>
---

<div class="layout-main">
  <main class="layout-main-center">
    <div
      class="swiffy-slider slider-item-reveal slider-nav-autoplay top-slider"
      data-slider-nav-autoplay-interval="3000"
    >
      <ul class="slider-container top-slider-container">
        {% for service in services %}
        <li>
          <a href="{{ service.url }}" class="top-slider-link">
            <img
              src="{{ service.image }}"
              class="top-slider-image"
              alt="{{ service.title }}"
            />
          </a>
        </li>
        {% endfor %}
      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
    <div class="top">
      <div class="top-slogan">
        <h2 class="top-slogan-text">コンピュータと和解せよ</h2>
        <img
          src="/img/mainvisual.webp"
          alt="lisp monster and girl"
          loading="lazy"
          class="top-slogan-image"
        />
      </div>

      <section>
        <h2 class="top-features-title">
          ノイマンはITとテレワークを主軸として
          <br />
          開発を支援する技術集団です
        </h2>
        <div class="top-features-container">
          <div class="top-features-cards">
            <div class="top-features-description">
              <div class="top-feature-description-number">
                <span class="top-feature-description-number-bar">───</span>
                <img
                  src="/img/point01.webp"
                  alt="point01"
                  class="top-feature-description-number-image"
                />
              </div>
              <h3 class="top-feature-description-title">
                きめ細やかな受託開発
              </h3>
              <p class="top-feature-description-text">
                経験豊富なスタッフによる丁寧な開発をサポートします。料金は月額固定で要件が変わっても柔軟に対応します。あなたのビジネスを強くします。
              </p>
            </div>
            <img
              src="/img/img1.webp"
              alt="feature1"
              class="top-features-image"
            />
          </div>
          <div class="top-features-cards-reverse">
            <div class="top-features-description">
              <div class="top-feature-description-number">
                <span class="top-feature-description-number-bar">───</span>
                <img
                  src="/img/point02.webp"
                  alt="point02"
                  class="top-feature-description-number-image"
                />
              </div>
              <h3 class="top-feature-description-title">
                経験豊富なテレワーク
              </h3>
              <p class="top-feature-description-text">
                ノイマンではフルリモートによる業務を行っています。テレワークを検討されている企業様には長年の経験から導入の支援を行わせていただきます。ご相談ください。
              </p>
            </div>
            <img
              src="/img/img2.webp"
              alt="feature2"
              class="top-features-image"
            />
          </div>
          <div class="top-features-cards">
            <div class="top-features-description">
              <div class="top-feature-description-number">
                <span class="top-feature-description-number-bar">───</span>
                <img
                  src="/img/point03.webp"
                  alt="point03"
                  class="top-feature-description-number-image"
                />
              </div>
              <h3 class="top-feature-description-title">高度な専門性</h3>
              <p class="top-feature-description-text">
                最新技術を用いて他社の追従を許さないシステム開発を支援します。弊社の技術力があなたの強力な武器となることは間違いありません。
              </p>
            </div>
            <img
              src="/img/img3.webp"
              alt="feature3"
              class="top-features-image"
            />
          </div>
          <div class="top-features-cards-reverse">
            <div class="top-features-description">
              <div class="top-feature-description-number">
                <span class="top-feature-description-number-bar">───</span>
                <img
                  src="/img/point04.webp"
                  alt="point04"
                  class="top-feature-description-number-image"
                />
              </div>
              <h3 class="top-feature-description-title">人材教育にも注力</h3>
              <p class="top-feature-description-text">
                プログラミング塾の運営や企業向けセミナーなど人材教育も積極的に行っています。
              </p>
            </div>
            <img
              src="/img/img4.webp"
              alt="feature4"
              class="top-features-image"
            />
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<div class="top-layout-language">
  <main class="top-layout-language-center">
    <div class="languages-title">
      <img
        src="/img/languagestools.webp"
        src="languages & tools"
        class="languages-title-image"
      />
      <h2 class="languages-title-text">開発言語＆ツール</h2>
    </div>
    <div class="languages-subtitle">
      幅広い技術力であなたの事業をサポートします
    </div>
    <div class="languages-container">
      <div class="language-card">
        <div class="language-image-container">
          <img src="/img/lang1.webp" alt="Clojure" class="language-image" />
        </div>
        <div class="language-name">Clojure</div>
      </div>
      <div class="language-card">
        <div class="language-image-container">
          <img src="/img/lang2.webp" alt="Ruby" class="language-image" />
        </div>
        <div class="language-name">Ruby</div>
      </div>
      <div class="language-card">
        <div class="language-image-container">
          <img src="/img/lang3.webp" alt="TypeScript" class="language-image" />
        </div>
        <div class="language-name">TypeScript</div>
      </div>
      <div class="language-card">
        <div class="language-image-container">
          <img src="/img/flutter.webp" alt="Flutter" class="language-image" />
        </div>
        <div class="language-name">Flutter</div>
      </div>
    </div>
  </main>
</div>

<div class="top-layout-jobs">
  <div class="top-layout-jobs-left">
    <div class="top-layout-jobs-left-inside">
      <div class="top-jobs-title">
        <img src="/img/works.webp" alt="jobs" class="top-jobs-title-image" />
        <div class="top-jobs-title-text">
          <h2>制作実績</h2>
        </div>
      </div>
      <div class="top-jobs-description">
        Webシステムの構築、保守・運用、データ分析などを行っております。
      </div>
      <div class="top-jpbs-view-all">
        <a href="/jobs" class="top-jpbs-view-all-link">View all</a>
      </div>
    </div>
  </div>
  <div class="top-layout-jobs-right">
    <div class="top-layout-jobs-right-inside">
      <a href="/jobs" class="job-card-link">
        <div class="job-card">
          <div class="job-card-image-wrapper">
            <img
              src="/img/work1.webp"
              alt="ギルドワークス株式会社 様"
              class="job-card-image"
            />
          </div>
          <div class="job-card-name">ギルドワークス株式会社 様</div>
        </div>
      </a>
      <a href="/jobs" class="job-card-link">
        <div class="job-card">
          <div class="job-card-image-wrapper">
            <img
              src="/img/work2.webp"
              alt="Resily株式会社 様"
              class="job-card-image"
            />
          </div>
          <div class="job-card-name">Resily株式会社 様</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="top-inquiry-container">
  <div class="top-inquiry">
    <div class="top-inquiry-title">
      <img
        src="/img/contact.webp"
        alt="contact"
        class="top-inquiry-title-image"
      />
      <h2 class="top-inquiry-title-text">お問い合わせ</h2>
    </div>
    <div class="inquiry-button-container">
      <p>Web・モバイルアプリ開発に関することならなんでもご相談ください。</p>
      {{ comp.inquiryButton() | safe }}
    </div>
  </div>
</div>
