---
layout: layouts/top.njk
title: TOP
permalink: |-
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
  <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js" crossorigin="anonymous" defer></script>
---

<main class="top-main">
  <div class="layout-main">
    <div class="layout-main-center">
      <div
        class="swiffy-slider slider-item-reveal slider-nav-autoplay top-slider"
        data-slider-nav-autoplay-interval="3000"
      >
        <ul class="slider-container top-slider-container">
          {% for service in services %}
          <li>
            <a href="{{ service.url }}" class="top-slider-link">
              <img
                src="{{ service.image }}"
                class="top-slider-image"
                alt="{{ service.title }}"
              />
            </a>
          </li>
          {% endfor %}
        </ul>

        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>

        <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
          <button></button>
          <button></button>
        </div>
      </div>
      <div class="top-numazu-rental">
        <h2>「沼津レンタル会議室」始めました</h2>
        <a href="https://numazu-meeting.neumann.tokyo" target="_blank">
          <img
            src="/img/numazu-rental-meeting-room.webp"
            alt="ノイマントーキョー沼津レンタル会議室"
            loading="lazy"
            class="numazu-rental-img"
          />
          <div>詳細はこちら</div>
        </a>
      </div>
    </div>
  </div>

  <div class="top-layout-language">
    <main class="top-layout-language-center">
      <div class="languages-title">
        <img
          src="/img/languagestools.webp"
          src="languages & tools"
          class="languages-title-image"
        />
        <h2 class="languages-title-text">開発言語＆ツール</h2>
      </div>
      <div class="languages-subtitle">
        幅広い技術力であなたの事業をサポートします
      </div>
      <div class="languages-container">
        <div class="language-card">
          <div class="language-image-container">
            <img src="/img/lang1.webp" alt="Clojure" class="language-image" />
          </div>
          <div class="language-name">Clojure</div>
        </div>
        <div class="language-card">
          <div class="language-image-container">
            <img src="/img/lang2.webp" alt="Ruby" class="language-image" />
          </div>
          <div class="language-name">Ruby</div>
        </div>
        <div class="language-card">
          <div class="language-image-container">
            <img
              src="/img/lang3.webp"
              alt="TypeScript"
              class="language-image"
            />
          </div>
          <div class="language-name">TypeScript</div>
        </div>
        <div class="language-card">
          <div class="language-image-container">
            <img src="/img/flutter.webp" alt="Flutter" class="language-image" />
          </div>
          <div class="language-name">Flutter</div>
        </div>
      </div>
    </main>
  </div>

  <div class="top-layout-jobs">
    <div class="top-layout-jobs-left">
      <div class="top-layout-jobs-left-inside">
        <div class="top-jobs-title">
          <img src="/img/works.webp" alt="jobs" class="top-jobs-title-image" />
          <div class="top-jobs-title-text">
            <h2>制作実績</h2>
          </div>
        </div>
        <div class="top-jobs-description">
          Webシステムの構築、保守・運用、データ分析などを行っております。
        </div>
        <div class="top-jpbs-view-all">
          <a href="/jobs" class="top-jpbs-view-all-link">View all</a>
        </div>
      </div>
    </div>
    <div class="top-layout-jobs-right">
      <div class="top-layout-jobs-right-inside">
        <a href="/jobs" class="job-card-link">
          <div class="job-card">
            <div class="job-card-image-wrapper">
              <img
                src="/img/work1.webp"
                alt="ギルドワークス株式会社 様"
                class="job-card-image"
              />
            </div>
            <div class="job-card-name">ギルドワークス株式会社 様</div>
          </div>
        </a>
        <a href="/jobs" class="job-card-link">
          <div class="job-card">
            <div class="job-card-image-wrapper">
              <img
                src="/img/work2.webp"
                alt="Resily株式会社 様"
                class="job-card-image"
              />
            </div>
            <div class="job-card-name">Resily株式会社 様</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="top-inquiry-container">
    <div class="top-inquiry">
      <div class="top-inquiry-title">
        <img
          src="/img/contact.webp"
          alt="contact"
          class="top-inquiry-title-image"
        />
        <h2 class="top-inquiry-title-text">お問い合わせ</h2>
      </div>
      <div class="inquiry-button-container">
        <p>Web・モバイルアプリ開発に関することならなんでもご相談ください。</p>
        {{ comp.inquiryButton() | safe }}
      </div>
    </div>
  </div>

  <h2 class="top-features-title" id="about">社是・会社概要・代表について</h2>
  <div class="layout-main">
    <div class="layout-main-center">
      <div class="top">
        <section>
          <h2>社是</h2>
          <div class="about-company-slogan">
            <span class="about-company-slogan-line">
              テレワーク・異文化・高品質
            </span>
          </div>
          <div>
            ノイマントーキョー株式会社では上記を社是とします。それぞれに次の意味を込めています。
            <dl class="about-company-slogan-lists">
              <dt>テレワーク</dt>
              <dd>テレワークにより場所を問わず活躍します</dd>
              <dt>異文化</dt>
              <dd>異文化と関わること、受け入れることを積極的に行います</dd>
              <dt>高品質</dt>
              <dd>
                お客様に満足していただけるよう高品質であることを心がけます
              </dd>
            </dl>
          </div>
        </section>
        <section>
          <h2>会社概要</h2>
          <div class="about-company">
            <img
              src="/img/logo.webp"
              alt="ノイマントーキョー株式会社"
              class="about-company-image"
              loading="lazy"
            />
            <table class="about-company-table">
              <tr>
                <th>社名</th>
                <td>
                  ノイマントーキョー株式会社
                  <br />
                  (旧名: 合同会社ノイマン)
                </td>
              </tr>
              <tr>
                <th>本社所在地</th>
                <td>
                  〒411-0041
                  <br />
                  静岡県三島市佐野見晴台2丁目39番地の7
                </td>
              </tr>
              <tr>
                <th>沼津サテライトオフィス</th>
                <td>
                  〒410-0836
                  <br />
                  静岡県沼津市吉田町31の3 アンジュール 201
                </td>
              </tr>
              <tr>
                <th>東京サテライトオフィス</th>
                <td>
                  〒141-0031
                  <br />
                  東京都品川区西五反田2-14-13 ニックハイム五反田2階
                  BIZcomfort五反田
                </td>
              </tr>
              <tr>
                <th>代表取締役</th>
                <td>馬場 一樹</td>
              </tr>
              <tr>
                <th>設立</th>
                <td>2019年9月24日 (2022年11月より株式会社化)</td>
              </tr>
              <tr>
                <th>資本金</th>
                <td>500万円</td>
              </tr>
              <tr>
                <th>法人番号</th>
                <td>2080103002041</td>
              </tr>
            </table>
          </div>
        </section>

        <section>
          <h2>代表: 馬場一樹について</h2>
          <div class="about-ceo">
            <img
              src="/img/kbaba1001.webp"
              class="about-ceo-image"
              alt="馬場一樹"
              loading="lazy"
            />
            <div class="about-ceo-description">
              <p>
                名古屋工業大学工学部情報工学科卒業後、(株)永和システムマネジメントに入社。アジャイルと
                Ruby による受託開発に従事した後、知人と 2
                人で(株)グピポを起業。その後フリーランスを経
                て合同会社ノイマンを設立。2022年11月にノイマントーキョー株式会社に改名。長年の受託開発の経験を活かした細かな開発を得意とする。
              </p>
              <p>
                IT
                以外にもシェアハウス運営やイラスト制作などの事業も経験があり、
                今後も業種を問わず幅広く活動する予定。
              </p>
              <div class="about-ceo-sns">
                <a
                  href="https://www.kbaba1001.com"
                  target="_blank"
                  rel="noopener"
                  class="about-ceo-sns-link"
                >
                  <img
                    src="/img/sns/hatena-blog.webp"
                    alt="はてなブログ"
                    class="about-ceo-sns-image"
                    loading="lazy"
                  />
                </a>

                <a
                  href="https://twitter.com/kbaba1001"
                  target="_blank"
                  rel="noopener"
                  class="about-ceo-sns-link"
                >
                  <img
                    src="/img/sns/twitter.webp"
                    alt="twitter"
                    class="about-ceo-sns-image"
                    loading="lazy"
                  />
                </a>
                <a
                  href="https://www.instagram.com/kbaba1001"
                  target="_blank"
                  rel="noopener"
                  class="about-ceo-sns-link"
                >
                  <img
                    src="/img/sns/instagram.webp"
                    alt="Instagram"
                    class="about-ceo-sns-image"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
