---
layout: layouts/main.njk
title: 問い合わせ
---

<div class="inquiry">
  <section>
    <h2>問い合わせ</h2>

    <div class="inquiry-cards">
      <div class="inquiry-card">
        <img
          src="/img/949.webp"
          alt="ご商談など"
          loading="lazy"
          class="inquiry-card-image"
        />
        <div>
          <h3>ご商談など</h3>
          <div>
            弊社とご商談などをご希望の方はこちらからお問い合わせください。
          </div>
          <div class="inquiry-card-button">
            {{ comp.inquiryButton() | safe }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
