---
layout: layouts/main.njk
title: 問い合わせ
---

<div class="inquiry">
  <section>
    <h2>問い合わせ</h2>

    <div class="inquiry-cards">
      <div class="inquiry-card">
        <img
          src="/img/949.webp"
          alt="ご商談など"
          loading="lazy"
          class="inquiry-card-image"
        />
        <div>
          <h3>ご商談など</h3>
          <div>
            弊社とご商談などをご希望の方はこちらからお問い合わせください。
          </div>
          <div class="inquiry-card-button">
            {{ comp.inquiryButton() | safe }}
          </div>
        </div>
      </div>

      <div class="inquiry-card">
        <img
          src="/img/316.webp"
          alt="求人申し込み"
          loading="lazy"
          class="inquiry-card-image"
        />
        <div>
          <h3>求人応募</h3>
          <p>
            弊社の求人へ申し込みをご希望の方はこちらから詳細情報をご確認ください
          </p>
          <div class="inquiry-card-button">
            <a class="button-link" href="/recruitment" rel="noopener">
              求人情報
            </a>
          </div>
        </div>
      </div>

      <div class="inquiry-card">
        <img
          src="/img/754.webp"
          alt="雑談・質問など"
          loading="lazy"
          class="inquiry-card-image"
        />
        <div>
          <h3>雑談・質問など</h3>
          <p>
            代表取締役と雑談や質問などがお申し込みいただけます。<br />
            例えば、次のような話ができます。
          </p>
          <ul>
            <li>IT業界に就職したいが未経験なので話を聞いてほしい</li>
            <li>地方でIT企業やるのってどんな感じ？</li>
            <li>テレワークの実情を教えて欲しい</li>
          </ul>
          <p>あるいは右下の吹き出しボタンからチャットで話せます。</p>
          <div class="inquiry-card-button">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScQ5hdV2Pp2AP2b2WIHMsrdMH7CyyQBbRtCE617Xi3zXi_o8Q/viewform?usp=sf_link"
              target="_blank"
              rel="noopener"
              class="button-link"
              >雑談申し込み</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
