---
layout: layouts/main.njk
title: 事例紹介
---

<div class="jobs">
  <section>
    <h2>事例紹介</h2>
    <div class="jobs-cards">
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/work1.png"
            alt="ギルドワークス株式会社"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            <a
              href="https://guildworks.jp"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >ギルドワークス株式会社 様</a
            >
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>
                新卒向け就職活動の能力試験システムの設計、開発、テスト、保守を担当
              </li>
              <li>
                大手建材販売企業のECサイトの設計、開発、テスト、保守を担当
              </li>
              <li>使用技術: Ruby, JavaScript, Docker, PostgreSQL, AWSなど</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/work2.png"
            alt="Resily株式会社"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            <a
              href="https://resily.com"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
            >
              Resily株式会社 様
            </a>
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>OKR管理システムの開発支援</li>
              <li>RubyシステムをGoにリプレースなど大規模な改修にも参画</li>
              <li>
                使用技術: Ruby, JavaScript, TypeScript, Go, Docker, PostgreSQL,
                GCPなど
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/kasseika.png"
            alt="株式会社地域活性化総合研究所"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            <a
              href="https://kasseika.club"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >株式会社地域活性化総合研究所 様</a
            >
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>鳥獣被害対策IoTデバイスの開発支援</li>
              <li>在庫管理システム開発支援</li>
              <li>使用技術: Ruby on Rails, Next.js, Python など</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/work4.png"
            alt="某大手アパレル企業"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">某大手アパレル企業 様</h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>売上やユーザー情報などのビッグデータの分析</li>
              <li>使用技術: Amazon Redshift, SQL</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/logo_xcoo.png"
            alt="株式会社テンクー"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            <a
              href="https://xcoo.co.jp"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >株式会社テンクー 様</a
            >
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>がんゲノム医療に関する遺伝子解析ツールの開発支援</li>
              <li>
                使用技術: Clojure, ClojureScript, PostgreSQL, Docker, など
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="/img/age-tech-logo.png"
            alt="株式会社AGE technologies"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            <a
              href="https://age-technologies.co.jp"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >株式会社AGE technologies 様</a
            >
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              <li>不動産相続代行システムの開発支援</li>
              <li>
                使用技術: Clojure, ClojureScript, PostgreSQL, Docker, など
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="jobs-appeal">
      その他にも多数開発実績があります。
      <br />
      ぜひご相談ください。
    </div>

    <div class="jobs-appeal-inquiry-button-container">
      {{ comp.inquiryButton() | safe }}
    </div>
  </section>
</div>
