---
layout: layouts/main.njk
title: 事例紹介
---

<div class="jobs">
  <section>
    <h2>事例紹介</h2>
    <div class="jobs-cards">
      {% for job in jobs %}
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="{{ job.image }}"
            alt="{{ job.name }} 様"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            {% if job.url %}
            <a
              href="{{ job.url }}"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >{{ job.name }} 様</a
            >
            {% else %}
            <span>{{ job.name }} 様</span>
            {% endif %}
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              {% for text in job.description %}
              <li>{{ text }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="jobs-appeal">
      その他にも多数開発実績があります。
      <br />
      ぜひご相談ください。
    </div>

    <div class="jobs-appeal-inquiry-button-container">
      {{ comp.inquiryButton() | safe }}
    </div>
  </section>
</div>

<div class="jobs">
  <section>
    <h2>自社サービス</h2>
    <div class="jobs-cards">
      {% for project in projects %}
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="{{ project.image }}"
            alt="{{ project.name }}"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            {% if project.url %}
            <a
              href="{{ project.url }}"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >{{ project.name }}</a
            >
            {% else %}
            {{ project.name }}
            {% endif %}
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              {% for text in project.description %}
              <li>{{ text }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
