---
layout: layouts/main.njk
title: サービス一覧
---

<div class="services">
  <h1>サービス一覧</h1>
  <div class="services-list">
    {% for service in services %}
    <a href="{{ service.url }}">
      <h2 class="services-hidden-title">{{ service.title }}</h2>
      <img
        src="{{ service.image }}"
        alt="{{ service.title }}"
        class="services-top-image"
      />
    </a>
    {% endfor %}
  </div>
</div>
