---
layout: layouts/main.njk
title: サービス一覧
---

<div class="services">
   <h2 class="top-features-title">
          開発依頼
        </h2>

  <h2>サービス一覧</h2>
  <div class="services-list">
    {% for service in services %}
    <a href="{{ service.url }}">
      <h2 class="services-hidden-title">{{ service.title }}</h2>
      <img
        src="{{ service.image }}"
        alt="{{ service.title }}"
        class="services-top-image"
      />
    </a>
    {% endfor %}
  </div>
</div>
