.lp-layout-main {
  color: var(--lp-main-text-color);
  background-color: white;
}

.lp-layout-footer {
  background-color: var(--lp-footer-bg-color);
  color: var(--lp-footer-text-color);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lp-footer {
  width: var(--contents-width);
  text-align: center;
}
