---
layout: layouts/main.njk
title: ネパールオフショア開発
ogimage: /img/slider/service4.webp
---

<div class="services">
  <h1 class="services-hidden-title">ネパールオフショア開発</h1>
  <img
    src="/img/slider/service4.webp"
    alt="ネパールオフショア開発"
    class="services-top-image"
  />
  <div class="inquiry-button-container">{{ comp.inquiryButton() | safe }}</div>

  <h2 class="services-h2">
    あなたのシステムをグローバルチームで作らせてください！
  </h2>
  <div class="services-nepal">
    <div class="services-nepal-flag-container">
      <img
        src="/img/flag_of_nepal.webp"
        alt="ネパールの国旗"
        class="services-nepal-flag"
        loading="lazy"
      />
    </div>
    <ul class="services-nepal-items">
      <li class="services-nepal-item">
        ノイマントーキョーではグローバルチームでシステムを開発する
        <em class="services-nepal-em">オフショア開発</em>を行っています。
      </li>
      <li class="services-nepal-item">
        お客様とのミーティングは日本人が行いますので、認識齟齬を最小限に抑えます。
      </li>
      <li class="services-nepal-item">
        開発は日本人とネパール人で行うので高品質を担保しつつ、コストを抑えることができます。
      </li>
    </ul>
  </div>

  {{ comp.serviceProblem({ messages: [ "システム開発を外注したいが予算が少ない",
  "オフショア開発は言葉の壁や品質が心配",
  "ITに詳しくないのでオフショア開発は不安" ] }) | safe }} {{
  comp.serviceSellingPoint({ messages: [
  "日本人担当者が要件をまとめて進捗共有をします",
  "混合チームだから低価格でも高品質", "難しいことは全て弊社にお任せください" ]
  }) | safe }} {{ comp.serviceRequirement() | safe }} {{ comp.serviceFlow() |
  safe }} {{ comp.serviceOnline() | safe }} {{ comp.serviceInquiry() | safe }}
</div>
