---
layout: layouts/main.njk
title: 開発サブスク
ogimage: /img/development_subscription.webp
---

<div class="services">
  <h1 class="services-hidden-title">開発サブスク</h1>
  <img
    src="/img/development_subscription.webp"
    alt="開発サブスク"
    class="services-top-image"
  />
  <div class="inquiry-button-container">{{ comp.inquiryButton() | safe }}</div>

  {{ comp.serviceProblem({ messages: [
  "システム開発の外部委託が初めてで、どうしたらいいかわからない",
  "要件定義から色々な提案をしてほしい", "開発費がいくら掛かるかわからない" ] })
  | safe }}
  <h2 class="services-h2">
    ノイマントーキョーの開発サブスクにおまかせください！
  </h2>
  <div class="services-card-reverse">
    <img
      src="/img/lp/r1315.webp"
      class="services-card-image"
      alt="ノイマントーキョーの開発サブスクにおまかせください！"
    />
    <div class="services-card-text">
      <h3 class="services-flow-h3-border">月額定額制のITパートナー！</h3>
      <div class="services-card-text-description">
        私たちは
        <em class="services-emphasize"
          >「お客様のビジネスをずっとサポートしたい」</em
        >
        という思いがあります。
        そのためには一度に作りきるのではなく、少しずつ作りながらシステムを育てていく
        <em class="services-emphasize">「フィードバック開発」</em>
        が重要です。納品して終わりの関係ではなく、お客様のITパートナーとしてあなたのビジネスをサポートします。
      </div>
      <div class="services-card-text-description">
        だからノイマントーキョーでは
        <em class="services-emphasize"
          >月額定額で要件定義からデザイン、設計、開発、テスト、本番環境構築、運用に至るまですべておまかせできるプランを作りました！</em
        >
      </div>
      <div class="services-card-text-description">
        体の不調を医者に任せるように、税理士に税金のことを任せるように、
        <em class="services-emphasize"
          >ITのことはノイマントーキョーにおまかせください！</em
        >
        あなたのビジネスをずっとサポートしていきます。
      </div>
    </div>
  </div>

  {{ comp.serviceJobs() | safe }} {{ comp.serviceRequirement() | safe }} {{
  comp.serviceFlow() | safe }} {{ comp.serviceOnline() | safe }} {{
  comp.serviceInquiry() | safe }}
</div>
