---
layout: layouts/lp.njk
---

<div class="lp">
  <div class="lp-title">
    <img src="/img/lp/fuji.jpg" alt="富士山" class="lp-title-image" />
    <div class="lp-title-text-container">
      <img
        src="/img/logo.png"
        alt="ノイマントーキョー株式会社"
        class="lp-title-logo"
      />
      <h1 class="lp-title-text">
        <span class="lp-title-text-chunk">熱海・三島・沼津で</span
        ><br class="only-desktop" />
        <span class="lp-title-text-chunk">システム開発なら</span
        ><br class="only-desktop" />
        <span class="lp-title-text-chunk">ノイマントーキョー</span>
      </h1>
    </div>
  </div>

  静岡向けLP
</div>
