---
layout: layouts/lp.njk
---

<div class="lp-title-container">
  <div class="lp-title">
    <div class="lp-title-slogan">
      <div class="lp-title-slogan-1">沼津・熱海・三島など静岡県東部に特化</div>
      <div class="lp-title-slogan-2">あなたの街のIT工務店</div>
    </div>
    <div class="lp-title-title">
      <span>ビジネスを効率化する</span>
      <div>
        <span class="material-symbols-outlined"> settings_suggest </span>
        <span>業務システム開発</span>
      </div>
      <div>
        <span class="material-symbols-outlined"> house </span>
        ホームページ制作
      </div>
      <div>
        <span class="material-symbols-outlined"> app_shortcut </span>
        スマートフォンアプリ制作
      </div>
    </div>
    <div class="lp-title-logo-container">
      <img
        src="/img/logo.png"
        alt="ノイマントーキョー株式会社"
        class="lp-title-logo"
      />
      <div class="lp-title-company-name">ノイマントーキョー株式会社</div>
    </div>
  </div>
</div>
<div class="lp-ribbon-container">
  <div class="lp-ribbon">こんな悩みありませんか</div>
</div>
