---
title: 求人情報
layout: layouts/main.njk
---

<div class="recruitment">
  <h2>求人情報</h2>

  <div class="recruitment-cards">
    <div class="recruitment-card">
      <div class="recruitment-entry-button-container">
        <a class="button-link" href="/recruitment/regular"> 正社員募集 </a>
      </div>
      <p>
        Webエンジニア募集<br />
        プロジェクトマネージャー募集
      </p>
    </div>

    <!-- <div class="recruitment-card">
      <div class="recruitment-entry-button-container">
        <a class="button-link" href="/recruitment/parttime"> アルバイト募集 </a>
      </div>
      <p>プログラミング・ロボット塾講師</p>
    </div> -->
  </div>
</div>
