.lp-title-container {
  background-image: url("/img/lp/25295767_m.png");
  background-color: white;
}

.lp-title {
  max-width: var(--contents-width);
  margin: 0 auto;
  padding: 2rem;
}

.lp-title-slogan {
  padding-bottom: 2rem;
}

.lp-title-slogan-1 {
  font-size: 14px;
}

.lp-title-slogan-2 {
  font-size: 24px;
  margin-top: 0.5rem;
}

.lp-title-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 43px;
}

.lp-title-logo-container {
  text-align: center;
  margin-top: 1rem;
}

.lp-title-logo {
  width: 190px;
}

.lp-title-company-name {
  font-size: 12px;
}

.lp-ribbon-container {
  background-color: #ffc7c7;
  padding: 1.5rem;
  font-weight: bold;
  text-align: center;
}
