.services {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.services-hidden-title {
  display: none;
}
.services-top-image {
  width: 100%;
}

.services-h2::before {
  content: "▶";
  color: var(--services-accent-color);
}
.services-h2 {
  border-bottom: double 3px var(--services-accent-color);
}

.services-card {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.services-card-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.services-card-image {
  width: 45%;
}
.services-card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.services-slogan-list {
  background-color: var(--services-accent-background-color);
  border-radius: 2rem;
  padding: 3rem;
  font-size: 1.8rem;
  list-style: none;
}
.services-slogan-list-item::before {
  content: "😊";
  color: var(--services-accent-color);
}

.services-speech-bubble-container {
  display: flex;
  flex-direction: column;
}

.services-speech-bubble-left {
  display: flex;
  align-items: center;
}

.services-speech-bubble-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.services-speech-bubble-image {
  width: 20rem;
}

.services-speech-bubble-text {
  font-size: 1.5rem;
}

.services-speech-bubble-neumann {
  background-color: var(--services-accent-background-color);
  border-radius: 2rem;
  padding: 3rem;
  list-style: none;
}

.services-flow-container {
  background-color: var(--services-accent-background-color);
  border-radius: 2rem;
  padding: 3rem;
}

.services-flow-h3 {
  text-align: center;
}
.services-flow-h3-border {
  border-bottom: solid 2px var(--services-accent-color);
  padding: 0 2rem;
}

.services-flow-card {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem 0;
}

.services-flow-card-title {
  text-align: center;
}

.services-flow-card-content {
  display: flex;
  align-items: center;
}

.services-flow-card-image {
  width: 20rem;
}

.services-flow-card-item {
  margin-bottom: 1rem;
}

.services-online {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-online-image {
  width: 100%;
  max-width: 30rem;
}
.services-online-item {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.services-jobs {
  background-color: var(--services-accent-background-color);
  border-radius: 2rem;
  padding: 2rem;
  column-count: 2;
}

.services-jobs-card {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  width: 350px;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.services-jobs-card-image {
  width: 280px;
  height: 280px;
  object-fit: scale-down;
}
.services-jobs-card-text {
  color: black;
  text-decoration: underline;
  text-align: center;
}
.services-jobs-more {
  text-align: right;
  margin-top: 1rem;
}

.services-nepal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.services-nepal-flag {
  width: 15rem;
}

.services-nepal-flag-container {
  width: 50%;
  text-align: center;
}

.services-nepal-items {
  width: 50%;
  font-size: 1.5rem;
  background-color: var(--services-accent-background-color);
  border-radius: 2rem;
  padding: 3rem;
  list-style: none;
}

.services-nepal-item::before {
  content: "😄";
}

.services-nepal-em {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .services-card {
    flex-direction: column-reverse;
  }
  .services-card-reverse {
    flex-direction: column-reverse;
  }
  .services-speech-bubble-left {
    flex-direction: column-reverse;
  }
  .services-speech-bubble-right {
    flex-direction: column-reverse;
  }
  .services-flow-container {
    padding: 1rem;
  }
  .services-flow-card-content {
    flex-direction: column;
  }
  .services-flow-h3-border {
    padding: 0;
  }

  .services-jobs {
    column-count: 1;
    padding: 1rem;
  }
  .services-jobs-card {
    width: 100%;
    max-width: 280px;
  }
  .services-jobs-card-image {
    width: 100%;
  }
}
