.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.footer-company-name {
  text-align: right;
}

.footer-sitemap-link {
  color: white;
}
