<h2 class="services-h2">ノイマントーキョーにおまかせください！</h2>
<div class="services-card-reverse">
  <img
    src="/img/lp/r1315.webp"
    class="services-card-image"
    alt="ノイマントーキョーにおまかせください！"
  />
  <div class="services-card-text">
    <ul class="services-slogan-list">
      {% for message in messages %}
      <li class="services-slogan-list-item">
        {{ message }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
