<h2 class="services-h2">ふわっとした要件の相談からでも大丈夫です！</h2>
<div class="services-speech-bubble-container">
  <div class="services-speech-bubble-left">
    <img
      src="/img/lp/r1021.webp"
      class="services-speech-bubble-image"
      alt="ホームページがほしいけど詳細が全然決まってなくて、ふわっとしたアイディアしかない"
    />
    <div>
      {{ comp.speechBubble({ direction: "left", text:
      "作って欲しい物の詳細が全然決まってなくて、ふわっとしたアイディアしかない",
      class: "services-speech-bubble-text" }) | safe }}
    </div>
  </div>
  <div class="services-speech-bubble-right">
    <img
      src="/img/949.webp"
      class="services-speech-bubble-image"
      alt="システムがほしいけど詳細が全然決まってなくて、ふわっとしたアイディアしかない"
    />
    <div class="services-speech-bubble-neumann">
      <h3>ぜんぜん大丈夫です！</h3>
      ノイマントーキョーのメンバーと一緒にシステムの要件を決めていきましょう。
      こちらから積極的によりよいシステムにするための提案をいたします。
      予算や相場観についてもご相談ください。
    </div>
  </div>
</div>
