<h2 class="services-h2">公開までの具体的な流れ</h2>
<div class="services-flow-container">
  <div class="services-flow-card">
    <div class="services-flow-card-title">
      <h3 class="services-flow-h3">
        <span class="services-flow-h3-border">要件・仕様を相談</span>
      </h3>
    </div>
    <div class="services-flow-card-content">
      <img
        src="/img/lp/r1199.webp"
        alt="要件・仕様を相談"
        loading="lazy"
        class="services-flow-card-image"
      />
      <div>
        <ul>
          <li class="services-flow-card-item">
            打ち合わせを何度か行い、システムの要件や仕様を決めて開発の準備をします
          </li>
          <li class="services-flow-card-item">
            デザインやワイヤーフレームなども作成し、具体的なイメージを共有します
          </li>
          <li class="services-flow-card-item">
            ふわっとした要件からでも具体的な要件・仕様に落とし込みます
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="services-flow-card">
    <div class="services-flow-card-title">
      <h3 class="services-flow-h3">
        <span class="services-flow-h3-border">安心のフィードバック開発</span>
      </h3>
    </div>
    <div class="services-flow-card-content">
      <img
        src="/img/lp/r1315.webp"
        alt="安心のフィードバック開発"
        loading="lazy"
        class="services-flow-card-image"
      />
      <div>
        <ul>
          <li class="services-flow-card-item">
            ノイマントーキョーではアジャイル開発をベースとした独自のフィードバック開発を行っております
          </li>
          <li class="services-flow-card-item">
            具体的には 1, 2 週間に 1
            度程度の頻度で打ち合わせを行い、開発したものをデモンストレーションします
          </li>
          <li class="services-flow-card-item">
            この際、要望と異なる点があったり新しくもっとよいアイディアが浮かんだ場合には、ぜひお申し付けください。すぐに改善し次回のミーティングなどで反映します。
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="services-flow-card">
      <div class="services-flow-card-title">
        <h3 class="services-flow-h3">
          <span class="services-flow-h3-border">サービス運用保証</span>
        </h3>
      </div>
      <div class="services-flow-card-content">
        <img
          src="/img/lp/r0989.webp"
          alt="サービス運用保証"
          loading="lazy"
          class="services-flow-card-image"
        />
        <div>
          <ul>
            <li class="services-flow-card-item">
              ノイマントーキョーでは作って終わりではありません。保守運用もおまかせください。
            </li>
            <li class="services-flow-card-item">
              サーバーの監視やバックアップ、セキュリティ対策などを行います。
            </li>
            <li class="services-flow-card-item">
              リリース後の機能追加や変更にも対応します。
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
