<h2 class="services-h2">全国オンラインリモート対応</h2>
<div class="services-online">
  <img
    src="/img/lp/r0316.webp"
    alt="全国オンラインリモート対応"
    class="services-online-image"
    loading="lazy"
  />
  <ul class="services-online-items">
    <li class="services-online-item">
      全国どこへでもオンラインリモートで対応可能です！
    </li>
    <li class="services-online-item">
      打合せやヒアリングから開発・運用にいたるまで全てリモートで対応します。
    </li>
    <li class="services-online-item">全国各地で開発の実績があります。</li>
  </ul>
</div>
