---
layout: layouts/base.njk
---

<main class="lp-layout-main">{{ content | safe }}</main>
<footer class="lp-layout-footer">
  <div class="lp-footer">
    {{ comp.inquiryButton() | safe }}
  </div>
</footer>
