---
title: 2023年2月ニュースレター
date: 2023-02-01
---

<div style="background-color: white; color: black">
  <section style="background-color: white">
    <div style="max-width: 800px; margin: 0 auto; background-color: white">
      <img
        src="https://www.neumann.tokyo/img/email/202302-top.png"
        alt="2月のノイマンくん"
        style="max-width: 30rem; width: 100%; display: block; margin: 0 auto"
      />
      <p>
        寒いですね。ノイマントーキョー株式会社の広報担当のあさみです。
        2月って何気に私の誕生月です。おめでたいですね。
        でもこの時代において、欲しいものはすぐ通信販売で買っちゃうか、そもそも買い物したつもり貯金をネット銀行にしてしまいます。
        だから、プレゼント品としてはあんまり購買しなくなったかもしれません。
        あ、でもお茶とかは誘ってくれたら嬉しいかもしれません！！ ニッパチ。
      </p>
      <p>
        2月8月のこと。 消費活動が消極的であることで有名ですね。
        でも冷遇的な時代にDXは心強い存在。
        ホームページを持つってすごくチャンスが広がることです。
        ホームページから始まり、SNSやメールフォームにてお客様の小さな声を拾い上げましょう。
        これらをきっかけになりえて、ビジネスチャンスを拡大するのに都合がいいんです。
      </p>
      <p>
        ノイマントーキョー株式会社に、是非こんな機能のあるホームページ欲しいな、SNS運用ってどうしたらいいのかなって話、聞かせてくださいませ。
        お待ちしてます！
      </p>
    </div>
  </section>
  <section style="background-color: #ffefef">
    <div
      style="
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem;
      "
    >
      <div style="color: #cc835c; font-size: 1.2rem">
        社員がもう1人必要な時こそ、WEBに働いてもらおう！
      </div>
      <h1 style="color: #8a3c90; font-size: 1.5rem">
        ノイマントーキョー株式会社と、業務DX化をしませんか？
      </h1>
    </div>
  </section>
  <section class="cards-back">
    <div class="cards">
      <div class="card">
        <div class="card-description">
          <h2 class="card-title">なんとなく手が回らない業務、ありませんか？</h2>
          <div class="card-text">
            <p>
              「何をどうしたらいいかはっきりわからないけど、なんか忙しい」をスッキリ解決します！<br />
              休みなく24時間働いてくれるシステムに、集客や会計や販売を支える仕組みをお任せしましょう！
            </p>
            <p>
              「売り上げUP」「日々の業務が楽になる」そんな業務DX化を目指して、一緒に考えてみませんか。<br />
              ノイマントーキョー株式会社では、2023年も業務DX化のご相談の受付を強化していきます！
            </p>
          </div>
          <div class="card-buttons">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdHMxI-xN5SFX_XPGmmJ3dWh8P1jSwmKKSsJmiCQp1LJfgyxA/viewform"
              style="
                background-color: #2681f2;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                text-decoration: none;
                color: white;
                font-weight: bold;
              "
              target="_blank"
              >お問い合わせはこちらから</a
            >
          </div>
        </div>
        <div class="card-image-container">
          <img
            class="card-image"
            src="https://www.neumann.tokyo/img/email/work.png"
          />
        </div>
      </div>

      <div class="card-reverse">
        <div class="card-description">
          <h2 class="card-title">IcTで出来ること</h2>
          <div class="card-text">
            <p>
              ノイマントーキョー株式会社は、ホームページ制作から、WEBシステムやスマホアプリ開発まで取り扱っている静岡東部エリアのIcT企業です。
              IcTというと、ホームページやメールを思い浮かばれる方がほとんどだと思います。
            </p>
            <p>
              でもそれだけではなく、変わったところでは鳥獣駆除のためのデバイス（鳥獣の追い立てのための音の出る装置）にも、IcTが使われているんです。
            </p>
            <p>
              御社の業務の意外なところにも、IcTが役立つかもしれません。
              ざっくばらんに、まずはご相談ください。
            </p>
          </div>
          <div class="card-buttons">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdHMxI-xN5SFX_XPGmmJ3dWh8P1jSwmKKSsJmiCQp1LJfgyxA/viewform"
              style="
                background-color: #2681f2;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                text-decoration: none;
                color: white;
                font-weight: bold;
              "
              target="_blank"
              >お問い合わせはこちらから</a
            >
          </div>
        </div>
        <div class="card-image-container">
          <img
            class="card-image"
            src="https://www.neumann.tokyo/img/email/dear.png"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .cards-back {
    background-color: #f1f4f2;
  }
  .cards {
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .card {
    display: flex;
  }
  .card-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .card-description {
    margin: 0 1rem;
  }
  .card-title {
    border-bottom: 1px solid gray;
    font-size: 1.2rem;
  }
  .card-text {
    margin: 1rem 0;
  }
  .card-image {
    width: 20rem;
  }
  .card-buttons {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  @media only screen and (max-width: 800px) {
    .card {
      flex-direction: column-reverse;
      align-items: center;
    }
    .card-reverse {
      flex-direction: column-reverse;
      align-items: center;
    }
    .card-buttons {
      text-align: center;
    }
  }
</style>
