---
title: 2023年3月ニュースレター
date: 2023-03-07
---

<div style="background-color: white; color: black">
  <section style="background-color: white">
    <div style="max-width: 800px; margin: 0 auto; background-color: white">
      <img
        src="https://www.neumann.tokyo/img/email/202303-top.webp"
        alt="3月のノイマンくん"
        style="max-width: 30rem; width: 100%; display: block; margin: 0 auto"
      />
      <p>
        こんにちは。ノイマントーキョー株式会社の広報担当のあさみです。
        様々な節目の多い中で、3月は極め付けの忙しさかと思いますが、いかがお過ごしですか？
        私の方も、身辺整理が加速しています。
        今までやってきて身に付かなかったことを辞めたり、その代わりにやってみたかったことで適性があることや、世間からの承認の度合いの大きなことにチャレンジしてます。
      </p>
      <p>
        3月というと、期末の法人様の多い時期ですね。
        【節税対策】【資金調達対策】【保険見直し】【経営計画】などについて向き合って、考えを巡らせる社長様の多いことでしょう。
      </p>
      <p>これらの中に【DX】を入れてみませんか？</p>
      <p>
        日々のルーチンをこなしながらの決算業務の慌ただしいことだと思いますが、「なんとなくうまくいってないのかも？」って話、ノイマントーキョー株式会社に打ち明けにいらっしゃいませんか？
        弊社代表の馬場一樹をはじめとしたメンバーたちで、【DX】を用いて社長様のお悩み解決のお手伝いができるかもしれません。
      </p>
    </div>
  </section>
  <section style="background-color: #ffefef">
    <div
      style="
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem;
      "
    >
      <div style="color: #cc835c; font-size: 1.2rem">
        社員がもう1人必要な時こそ、WEBに働いてもらおう！
      </div>
      <h1 style="color: #8a3c90; font-size: 1.5rem">
        ノイマントーキョー株式会社と、業務DXをしませんか？
      </h1>
    </div>
  </section>
  <section style="background-color: #f1f4f2">
    <div style="max-width: 800px; margin: 0 auto; padding: 5rem 0">
      <div>
        <div>
          <img
            style="display: block; width: 20rem; margin: 0 auto"
            src="https://www.neumann.tokyo/img/email/work.webp"
          />
        </div>
        <div style="margin: 0 1rem">
          <h2 style="border-bottom: 1px solid gray; font-size: 1.2rem">
            なんとなく手が回らない業務、ありませんか？
          </h2>
          <div style="margin: 1rem 0">
            <p>
              「何をどうしたらいいかはっきりわからないけど、なんか忙しい」をスッキリ解決します！
              休みなく24時間働いてくれるシステムに、集客や会計や販売を支える仕組みをお任せしましょう！
            </p>
            <p>
              「売り上げUP」「日々の業務が楽になる」そんな業務DX化を目指して、一緒に考えてみませんか。
              ノイマントーキョー株式会社では、2023年も業務DX化のご相談の受付を強化していきます！
            </p>
          </div>
          <div style="margin: 1rem 0; padding: 1rem 0; text-align: center">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdHMxI-xN5SFX_XPGmmJ3dWh8P1jSwmKKSsJmiCQp1LJfgyxA/viewform"
              style="
                background-color: #2681f2;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                text-decoration: none;
                color: white;
                font-weight: bold;
              "
              target="_blank"
              >お問い合わせはこちらから</a
            >
          </div>
        </div>
      </div>

      <div style="margin-top: 5rem">
        <div style="margin: 0 1rem">
          <div>
            <img
              style="display: block; width: 20rem; margin: 0 auto"
              src="https://www.neumann.tokyo/img/email/dear.webp"
            />
          </div>
          <h2 style="border-bottom: 1px solid gray; font-size: 1.2rem">
            IcTで出来ること
          </h2>
          <div style="margin: 1rem 0">
            <p>
              ノイマントーキョー株式会社は、ホームページ制作から、WEBシステムやスマホアプリ開発まで取り扱っている静岡東部エリアのIcT企業です。
              IcTというと、ホームページやメールを思い浮かばれる方がほとんどだと思います。
            </p>
            <p>
              でもそれだけではなく、変わったところでは鳥獣駆除のためのデバイス（鳥獣の追い立てのための音の出る装置）にも、IcTが使われているんです。
            </p>
            <p>
              御社の業務の意外なところにも、IcTが役立つかもしれません。
              ざっくばらんに、まずはご相談ください。
            </p>
          </div>
          <div style="margin: 1rem 0; padding: 1rem 0; text-align: center">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdHMxI-xN5SFX_XPGmmJ3dWh8P1jSwmKKSsJmiCQp1LJfgyxA/viewform"
              style="
                background-color: #2681f2;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                text-decoration: none;
                color: white;
                font-weight: bold;
              "
              target="_blank"
              >お問い合わせはこちらから</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
